/* FONTS =============================================================================================== */

h1, h2, h3, .christmas {
    font-family: 'Mountains of Christmas', cursive;
    color: #ffd700 !important;
}

p, ul, li, a {
    font-family: 'Roboto', sans-serif;
}


/* WAPP BTN =============================================================================================== */

.wapp-btn:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

.wapp-btn {
	position:fixed;
	bottom: 1vw;
	right:1vw;
  z-index:100;
  
}

.wapp-img {
  height: 110px;
}


.my-float{
	margin-top:16px;
}

.wider-td {
    width: 60% !important; /* Adjust the width as needed */
  }



/* CONSENT */

/* .cc-nb-reject, .cc-nb-okagree {
  background-color: #eaeaea !important;
} */

.has-green-background {
  background-color: #0ca90c !important;
}

.has-red-background {
  background-color: #ce0d0d !important;
}

/* CHRISTMAS */

.christmas {
  margin: auto;
  background-color: #0ca90c !important;
  color: #ffd700;
  border-color: #ffd700;
}